<nav class="navbar sticky-top navbar-expand-lg navbar-light navbar2" style="top: 4.1em; z-index: 2;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home.html">
          <i class="fas fa-home" style="color: #ff5722;"></i>
          <span class="home">Home</span>
        </a>
      </li>

      <span class="line"></span>

      <!--1-->
      <li class="nav-item dropdown">
        <a id="b1" data-toggle="modal" data-target="#CatModal" class="nav-link" href="#" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="hd1" onmouseover="show()" onmouseout="hide()">
            <i class="fas fa-bars clr"></i>
            <span class="hd1">All Categories</span>
          </div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="CatModal" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable mw-100 w-75">
            <div class="modal-content">
              <div class="modal-body disableHorizontalScroll">
                <div class="row">
                  <div class="col-3">
                    <a href="../Experience/Experience/experience.html" class="mmain">
                      <i class="fas fa-parachute-box mr-1" style="font-size: 1.1em;"></i>
                      Experiences
                    </a>
                    <br />
                    <br />
                    <a href="../Attractions/AttractionsHK&Ma.html" class="main">
                      Attractions
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <br />
                    <a href="#" class="sub">Theme & water parks</a>
                    <br />
                    <a href="#" class="sub">Museums & exhibitions</a>
                    <br />
                    <a href="#" class="sub">Nature & anomals</a>
                    <br />
                    <a href="#" class="sub">Observation & cable cars</a>
                    <br />
                    <a href="#" class="sub">Historical sights</a>
                    <br />
                    <a href="#" class="sub">Attraction passes & more</a>
                    <br />
                    <br />
                    <a routerLink="/experiences/tour" routerLinkActive="active" class="main">
                      Tours
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <br />
                    <a href="../tours/walking&biking.html" class="sub">
                      Walking & biking
                    </a>
                    <br />
                    <a href="#" class="sub">Sightseeing</a>
                    <a href="#" class="sub">Private tours</a>
                    <br />
                    <a href="#" class="sub">In the air</a>
                    <br />
                    <a href="#" class="sub">Cruises & island tours</a>
                    <br />
                    <br />
                    <a href="#" class="main">
                      Outdoors & sports
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <br />
                    <a href="#" class="sub">Water activities</a>
                    <br />
                    <a href="#" class="sub">Outdoor activities</a>
                    <br />
                    <a href="#" class="sub">Skiing & snowboarding</a>
                    <br />
                    <a href="#" class="sub">Camping & glamping</a>
                    <br />
                    <br />

                    <a href="../Relax/Relaxx.html" class="main">
                      Relaxation & beauty
                      <i class="fas fa-chevron-right"></i>
                      <br />
                    </a>
                    <a href="#" class="sub">Spa & massages</a>
                    <br />
                    <a href="#" class="sub">Salons & beauty</a>
                    <br />
                    <a href="../Relax/FunNight.html" class="sub">
                      Fun & nightlife
                    </a>
                    <br />
                    <br />
                    <a href="../Relax/culturee.html" class="main">
                      Culture & workshops
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <br />
                    <a href="#" class="sub">Classes & workshops</a>
                    <br />
                    <a href="#" class="sub">Traditional activities</a>
                    <br />
                    <br />
                    <a href="../Relax/FunNight.html" class="main">
                      Fun & nightlife
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <br />
                    <a href="#" class="sub">Games & VR</a>
                    <a href="#" class="sub">Nightlide &</a>
                  </div>
                  <div class="col-3">
                    <a href="#" class="mmain">
                      <i class="fas fa-subway mr-1" style="font-size: 1em;"></i>
                      Transport
                    </a>
                    <br />
                    <br />
                    <a href="../Europe train/Europe train/train.html" class="sub">
                      Trains
                    </a>
                    <br />
                    <a href="#" class="sub">Mainland China trains</a>
                    <br />
                    <a href="#" class="sub">Vietnam trains</a>
                    <a href="#" class="sub">Japan trains</a>
                    <br />
                    <a href="#" class="sub">Europe trains</a>
                    <a href="#" class="sub">Taiwan trains</a>
                    <br />
                    <br />
                    <a href="../hotel/carRentel.html" class="main">
                      Car rentals
                      <i class="fas fa-chevron-right"></i>
                      <br />
                    </a>
                    <a href="#" class="sub">Thailand car rentals</a>
                    <br />
                    <a href="#" class="sub">Taiwan car rentals</a>
                    <br />
                    <a href="#" class="sub">South Korea car rentals</a>
                    <br />
                    <a href="#" class="sub">Malaysia car rentals</a>
                    <br />
                    <br />
                    <a href="#" class="main">Buses & ferries</a>
                    <br />
                    <a href="#" class="sub">Taiwan intercity buses</a>
                    <br />
                    <a href="#" class="sub">Europe intercity buses</a>
                    <br />
                    <a href="#" class="sub">Thailand ferries</a>
                    <br />
                    <a href="#" class="sub">Thailand intercity buses</a>
                    <br />
                    <br />
                    <a href="#" class="main">Private transport</a>
                    <br />
                    <a href="#" class="sub">Private cars</a>
                    <br />
                    <br />
                    <a href="#" class="main">Public transport</a>
                    <br />
                    <a href="#" class="sub">Transport passes</a>
                    <br />
                    <a href="#" class="sub">Shared transfers</a>
                    <br />
                    <br />
                    <a href="#" class="main">
                      Scooter & motorbike rentals
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <br />
                    <br />
                    <a href="#" class="main">Airport transfer</a>
                    <a href="#" class="sub">Private airport transfers</a>
                    <br />
                    <a href="#" class="sub">Airport trains & buses</a>
                  </div>

                  <div class="col-3">
                    <a href="#" class="mmain">
                      <i class="fas fa-hotel mr-1" style="font-size: 1em;"></i>
                      Accommodation
                    </a>
                    <br />
                    <br />
                    <a href="../hotel/Hotel.html" class="main">
                      Hotels & more
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <br />
                    <a href="#" class="main">
                      Staycations
                      <i class="fas fa-chevron-right"></i>
                    </a>
                  </div>
                  <div class="col-3">
                    <a href="#" class="mmain">
                      <i class="far fa-circle mr-1" style="font-size: 1em;"></i>

                      More to explore
                    </a>
                    <br />
                    <br />
                    <a href="../food & dining/food & dining/food.html" class="main">
                      Food & dinning
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <br />
                    <a href="#" class="sub">Hong Kong</a>
                    <a href="#" class="sub">Taipei</a>
                    <br />
                    <a href="#" class="sub">Bangkok</a>
                    <a href="#" class="sub">Kuala Lumpur</a>
                    <br />
                    <a href="#" class="sub">Singapore</a>
                    <br />
                    <br />
                    <a href="#" class="main">
                      Shopping
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <br />
                    <br />
                    <a href="../hotel/Wifi&Simcard.html" class="main">
                      WiFi & SIM cards
                      <i class="fas fa-chevron-right"></i>
                      <br />
                    </a>
                    <br />
                    <br />
                    <a href="#" class="main">Traveler essentials</a>
                    <br />
                    <a href="#" class="sub">Services</a>
                    <a href="#" class="sub">Travel gear rental</a>
                    <br />
                    <a href="#" class="sub">Travel insurance</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--2-->
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-parachute-box"></i>
          <span class="hd1">Experiences</span>
          <!-- <span></span> -->
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../Attractions/AttractionsHK&Ma.html">
            Attractions
          </a>
          <a class="dropdown-item" routerLink="/experiences/tour" routerLinkActive="active">Tours</a>
          <a class="dropdown-item" href="#">Outdoors & sports</a>
          <a class="dropdown-item"  routerLink ="/experiences/relax"  routerLinkActive="active">
            Relaxation & beauty
          </a>
          <a class="dropdown-item" href="../Relax/culturee.html">
            Cultural experiences
          </a>
          <a class="dropdown-item" href="../Relax/FunNight.html">
            Fun & nightlife
          </a>
        </div>
      </li>
      <!--3-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-subway"></i>
          <span class="hd1">Transport</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/transport/carRental" routerLinkActive="active">
            Car rentals
          </a>
          <a class="dropdown-item" href="#">Mainland China trains</a>
          <a class="dropdown-item" href="../Europe train/Europe train/train.html">
            Europe trains
          </a>
          <a class="dropdown-item" href="#">Japan trains</a>
          <a class="dropdown-item" href="#">Taiwan intercity buses</a>
          <a class="dropdown-item" href="#">Europe intercity buses</a>
          <a class="dropdown-item" href="#">Thailand intercity buses</a>
          <a class="dropdown-item" href="#">Thailand ferries</a>
        </div>
      </li>
      <!--4-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-hotel"></i>
          <span class="hd1">Accommodation</span>
        </a>
        <div class="dropdown-menu ml-5" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/accommodation/hotels&more" routerLinkActive="active">Hotels & more</a>
          <a class="dropdown-item" href="#">Staycations</a>
        </div>
      </li>
      <!--5-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="far fa-circle"></i>
          <span class="hd1">More to explore</span>
        </a>
        <div class="dropdown-menu ml-5" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../food & dining/food & dining/food.html">
            Food & dining
          </a>
          <a class="dropdown-item" routerLink="/moreToExplore/wifi&simcards" routerLinkActive="active">
            WiFi & SIM cards
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
