<!-- <mat-card   id="cat-card" class="mt-2  col-12 col-sm-12  col-md-12   col-lg-3 col-xl-3" *ngFor="let cat of categoryList" > -->

    <!-- <mat-card  id="card" class="card " onmouseover="moreShadow(this)" onmouseout="lessShadow(this)"> -->
      <div class="card-body  text-center">
        <!-- <i class="fas fa-hiking " style="color:  #009d8b; font-size: 32px; "></i> -->
        <img id="card-icon"
          data-src="https://klook-res.cloudinary.com/image/upload/v1600351708/UED%20Team%EF%BC%88for%20DE%20only%EF%BC%89/category%20icon/L1%20and%20L2/icon_category_walking_bike_tours_xm_colorful.png"
          src="https://klook-res.cloudinary.com/image/upload/v1600351708/UED%20Team%EF%BC%88for%20DE%20only%EF%BC%89/category%20icon/L1%20and%20L2/icon_category_walking_bike_tours_xm_colorful.png"
          lazy="loaded">
        <!-- <p class="card-text"> {{cat?.name}}</p> -->
     
      </div>
    <!-- </mat-card > -->
    <!-- </mat-card> -->
