<div class="all">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-12 left">
        <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link active mt-2"
            id="v-pills-home-tab"
            data-toggle="pill"
            href="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            General Terms of Use
          </a>
          <a
            class="nav-link"
            id="v-pills-profile-tab"
            data-toggle="pill"
            href="#v-pills-profile"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            Privacy Policy
          </a>
          <a
            class="nav-link"
            id="v-pills-messages-tab"
            data-toggle="pill"
            href="#v-pills-messages"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            Cookie Policy
          </a>
          <a
            class="nav-link"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-settings"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
          >
            Klook Price Guarantee
          </a>
          <a
            class="nav-link"
            id="v-pills-bug-tab"
            data-toggle="pill"
            href="#v-pills-bug"
            role="tab"
            aria-controls="v-pills-bug"
            aria-selected="false"
          >
            Bug Bounty Program
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-sm-12">
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <div class="h3 terms">Terms And Conditions</div>
            <hr />
            <!--1-->
            <div class="font-weight-bold mt-2">1. Your Agreement</div>
            <div class="points">
              1.1 This website www.klook.com and/or the Klook App (together,
              'Klook Platform') is operated by Klook Travel Technology Limited,
              a Hong Kong incorporated company. Please read these terms of use
              (“this Terms of Use”) carefully before using the Klook Platform
              and the services offered by Klook Travel Technology Limited, its
              affiliated companies (together, “Klook”) or the third-party
              operators (the “Operator”) through the Klook Platform (the
              “Services”). “You” and “your” when used in this Terms of Use
              includes (1) any person who accesses the Klook Platform and (2)
              persons for whom you make a purchase of the Services.
            </div>
            <!--2-->
            <div class="font-weight-bold mt-2">2. Change of Terms of Use</div>
            <div class="points">2.1 Klook's Modifications</div>
            <div class="subPoints mb-3">
              2.1.1 Klook reserves the right, at its sole discretion, to change
              or modify any part of this Terms of Use at any time without prior
              notice. You should visit this page periodically to review the
              current Terms of Use to which you are bound. If Klook changes or
              modifies this Terms of Use, Klook will post the changes to or
              modifications of this Terms of Use on this page and will indicate
              at the bottom of this page the date on which this Terms of Use was
              last revised.
            </div>
            <div class="subPoints mb-3">
              2.1.2 Your continued use of the Klook Platform after any such
              changes or modifications constitutes your acceptance of the
              revised Terms of Use. If you do not agree to abide by the revised
              Terms of Use, do not use or access or continue to use or access
              the Klook Platform and/or the Services. It is your responsibility
              to regularly check the Klook Platform to ascertain if there are
              any changes to this Terms of Use and to review such changes.
            </div>
            <div class="subPoints mb-3">
              2.1.3 In addition, when using the Services, you shall be subject
              to any additional terms applicable to such Services that may be
              posted on the page relating to such Services from time to time and
              the privacy policy adopted by Klook from time to time (“the
              Privacy Policy”). All such terms are hereby expressly incorporated
              by reference in this Terms of Use.
            </div>
            <!--3-->
            <div class="font-weight-bold mt-2">
              3. Access and Use of the Services
            </div>
            <div class="points">3.1 Ownership of Content</div>
            <div class="subPoints mb-3">
              3.1.1 This Klook Platform, the domain name (www.klook.com),
              subdomains, features, contents and application services (including
              without limitation to any mobile application services) offered
              periodically by Klook in connection therewith are owned and
              operated by Klook. 3.2 Provision and Acces
            </div>
            <div class="points">
              3.2 Provision and Accessibility of Services
            </div>
            <div class="subPoints mb-3">
              3.2.1 Subject to this Terms of Use, Klook may either offer to
              provide the Services by itself or on behalf of the Operators, as
              described in further detail on the Klook Platform. The Services
              that have been selected by you on the Klook Platform are solely
              for your own use, and not for the use or benefit of any third
              party. The term "Services" includes but is not limited to the use
              of the Klook Platform, any Services offered by Klook by itself or
              on behalf of the Operators on the Klook Platform. Klook may
              change, suspend or discontinue any Services at any time, including
              the availability of any feature, database or content. Klook may
              also impose limits or conditions on certain Services or restrict
              your access to any part or all of the Services without notice or
              liability.
            </div>
            <div class="subPoints mb-3">
              3.2.2 Klook does not guarantee that the Services will always be
              available or uninterrupted. Klook will not be liable to you if for
              any reason the Services are unavailable at any time or for any
              period. You are responsible for making all arrangements necessary
              for you to have access to the Services. You are also responsible
              for ensuring that all persons who access the Services through
              Internet connection are aware of this Terms of Use and other
              applicable terms and conditions for the Services, and that they
              comply with them.
            </div>
            <div class="subPoints mb-3">
              3.2.3 If you link to the Klook Platform, Klook may revoke your
              rights to so link at any time, at Klook’s sole discretion. Klook
              reserves the right to require prior written consent before linking
              to the Klook Platform.
            </div>
            <!--4-->
            <div class="font-weight-bold mt-2">
              4. Klook Platform and Content
            </div>
            <div class="points">4.1 Use of the Content</div>
            <div class="subPoints mb-3">
              4.1.1 All materials displayed or performed on the Klook Platform
              including but not limited to text, data, graphics, articles,
              photographs, images, illustrations, video, audio and other
              materials (“Content”) are protected by copyright and/or other
              intellectual property rights. This Klook Platform and the Content
              are intended solely for your personal and non-commercial use of
              the Services and may only be used in accordance with this Terms of
              Use.
            </div>
            <div class="subPoints mb-3">
              4.1.2 If Klook agrees to grant you access to the Klook Platform
              and/or the Content, such access shall be non-exclusive,
              non-transferable and limited license to access the Klook Platform
              in accordance with this Terms and Use. Klook may, at its absolute
              discretion and at any time, without prior notice to you, amend or
              remove or alter the presentation, substance or functionality of
              any part or all of the Content from the Klook Platform.
            </div>
            <div class="subPoints mb-3">
              4.1.3 You shall abide by all copyright notices, trademark rules,
              information, and restrictions contained in the Klook Platform and
              the Content accessed through the Klook Platform, and shall not
              use, copy, reproduce, modify, translate, publish, broadcast,
              transmit, distribute, perform, upload, display, license, sell or
              otherwise exploit for any purposes whatsoever the Klook Platform
              or the Content or third party submissions or other proprietary
              rights not owned by you without the express prior written consent
              of the respective owners, or in any way that violates any third
              party rights.
            </div>
            <div class="points">
              4.2 Klook’s Liability for the Klook Platform and Content
            </div>
            <div class="subPoints mb-3">
              4.2.1 Klook cannot guarantee the identity of any other users with
              whom you may interact with in the course of using the Klook
              Platform. Klook cannot guarantee the authenticity and accuracy of
              any content, materials or information which other users or the
              Operators may provide. All Content accessed by you using the Klook
              Platform is at your own risk and you will be solely responsible
              for any damage or loss to any party resulting therefrom.
            </div>
            <div class="subPoints mb-3">
              4.2.2 Under no circumstances will Klook be liable in any way for
              any Content, including but not limited to any errors or omissions
              in any Content, or any loss or damage of any kind incurred in
              connection with the use of or exposure to any Content posted,
              emailed, accessed, transmitted, or otherwise made available via
              the Klook Platform.
            </div>
            <div class="points">
              4.3 Sort Order *
            </div>
            <div class="subPoints mb-3">
              4.3.1 We provide sorting and filter settings for you to adapt the
              search results to your preferences using criteria such as
              availability, price recommendations, Services’ popularity,
              Services’ reviews or other criteria. We continually optimize the
              Klook Platform to provide you the best experience and may test
              different default sort order algorithms from time to time.
            </div>
            <!--5-->
            <div class="font-weight-bold mt-2">
              5. Intellectual Property Rights
            </div>
            <div class="points">5.1 Intellectual Property</div>
            <div class="subPoints mb-3">
              5.1.1 All intellectual property rights subsisting in respect of
              the Klook Platform belong to Klook or have been licensed to Klook
              for use on the Klook Platform. This Klook Platform, the Services
              and the Content are protected by copyright and other intellectual
              property rights as collective works and/or compilations, pursuant
              to applicable copyright laws, international conventions, and other
              intellectual property laws. You undertake that: (a) You shall not
              modify, publish, transmit, participate in the transfer or sale of,
              reproduce, create derivative works based on, distribute, perform,
              display, or in any way exploit, any part of the Klook Platform and
              the Content, software, materials, or the Services in whole or in
              part; (b) You shall only download or copy the Content (and other
              items displayed on the Klook Platform or related to the Services)
              for personal and non-commercial use only, provided that you
              maintain all copyright and other notices contained in such
              Content; and (c) You shall not store any significant portion of
              any Content in any form. Copying or storing of any Content other
              than personal and non-commercial use is expressly prohibited
              without prior written permission from Klook or from the copyright
              holder identified in such Contents copyright notice.
            </div>
            <!--6-->
            <div class="font-weight-bold mt-2">
              6. User Submissions
            </div>
            <div class="points">6.1 Uploading of Information</div>
            <div class="subPoints mb-3">
              6.1.1 In the course of accessing the Klook Platform or using the
              Services, you may provide information which may be used by Klook
              and/or the Operators in connection with the Services and which may
              be visible to other users of the Klook Platform. You understand
              that by posting information or content on the Klook Platform or
              otherwise providing content, materials or information to Klook
              and/or the Operators in connection with the Services (“User
              Submissions”): (a) You hereby grant to Klook and the Operators a
              non-exclusive, worldwide, royalty free, perpetual, irrevocable,
              sub-licensable and transferable right to use and fully exploit
              such User Submissions, including all related intellectual property
              rights subsisted thereon, in connection with providing the
              Services and operating the Klook Platform and Klook’s business,
              including but not limited to the promotion and redistribution of
              part or all of the Services and derivative works thereof in any
              media formats and through any media channels; (b) You agree and
              authorize Klook to use your personal data in accordance with the
              Privacy Policy in effect from time to time; (c) You hereby grant
              each user of the Klook Platform a non-exclusive license to access
              your User Submissions through the Klook Platform, and to use,
              modify, reproduce, distribute, prepare derivative works of,
              display and perform such User Submissions as permitted through the
              functionality of the Klook Platform and under this Terms of Use;
              (d) You acknowledge and agree that Klook retains the right to
              reformat, modify, create derivative works of, excerpt, and
              translate any User Submissions submitted by you. For clarity, the
              foregoing license grant to Klook does not affect your ownership of
              or right to grant additional non-exclusive licenses to the
              material in the User Submissions, unless otherwise agreed in
              writing; (e) You hereby represent and warrant that any content in
              your User Submission (including but not limited to text, graphics
              and photographs) do not infringe any applicable laws, regulations
              or any third party rights; and (f) That all the User Submissions
              publicly posted or privately transmitted through the Klook
              Platform is the sole responsibility of you and that Klook will not
              be liable for any errors or omissions in any content.
            </div>
            <!--7-->
            <div class="font-weight-bold mt-2">
              7. Users Representations, Warranties and Undertakings
            </div>
            <div class="points">
              7.1 Use of the Klook Platform and the Services
            </div>
            <div class="subPoints mb-3">
              7.1.1 You represent, warrant and undertake to Klook that you will
              not provide any User Submissions or otherwise use the Klook
              Platform or the Services in a manner that: (a) Infringes or
              violates the intellectual property rights or proprietary rights,
              rights of publicity or privacy, or other rights of any third
              party; or (b) Violates any law, statute, ordinance or regulation;
              or (c) Is harmful, fraudulent, deceptive, threatening, abusive,
              harassing, tortious, defamatory, vulgar, obscene, libelous, or
              otherwise objectionable; or (d) Involves commercial activities
              and/or sales without Klook’s prior written consent such as
              contests, sweepstakes, barter, advertising, or pyramid schemes; or
              (e) Constitutes libel, impersonates any person or entity,
              including but not limited to any employee or representative of
              Klook; or (f) Contains a virus, trojan horse, worm, time bomb, or
              other harmful computer code, file, or program.
            </div>
            <div class="points">
              7.2 Removal of User Submissions
            </div>
            <div class="subPoints mb-3">
              7.2.1 Klook reserves the right to remove any User Submissions from
              this Klook Platform at any time, for any reason including but not
              limited to, receipt of claims or allegations from third parties or
              authorities relating to such User Submission or if Klook is
              concerned that you may have breached any of the preceding
              representations, warranties or undertakings, or for no reason at
              all.
            </div>
            <div class="points">
              7.3 Responsibility for User Submissions
            </div>
            <div class="subPoints mb-3">
              7.3.1 You remain solely responsible for all User Submissions that
              you upload, post, email, transmit, or otherwise disseminate using,
              or in connection with, the Klook Platform.
            </div>
            <div class="subPoints mb-3">
              7.3.2 You acknowledge and agree that you shall be solely
              responsible for your own User Submissions and the consequences of
              posting or publishing all of your User Submissions on the Klook
              Platform. You represent, warrant and undertake to Klook that: (a)
              You own or have the necessary rights, licenses, consents, releases
              and/or permissions to use and authorize Klook to use all
              copyright, trademark or other proprietary or intellectual property
              rights in and to any User Submission to enable inclusion and use
              thereof as contemplated by the Klook Platform and this Terms of
              Use; and (b) Neither the User Submissions nor your posting,
              uploading, publication, submission or transmittal of the User
              Submission or Klook’s use of the User Submissions, or any portion
              thereof, on or through the Klook Platform and/or the Services will
              infringe, misappropriate or violate any third party’s patent,
              copyright, trademark, trade secret, moral rights or other
              proprietary or intellectual property rights, or rights of
              publicity or privacy, or result in the violation of any applicable
              law, rule or regulation.
            </div>
            <div class="subPoints mb-3">
              7.3.3 You are responsible for all of your activity in connection
              with using the Klook Platform and/or the Services. You further
              represent, warrant and undertake to Klook that you shall not: (a)
              Conduct any fraudulent, abusive, or otherwise illegal activity
              which may be grounds for termination of your right to access or
              use the Klook Platform and/or the Services; or (b) sell or resell
              any products, services or reservation obtained from or via the
              Klook Platform; (c) use the Klook Platform for commercial or
              competitive activity or purposes, or for the purpose of making
              speculative, false or fraudulent bookings or any reservations in
              anticipation of demand; (d) Post or transmit, or cause to be
              posted or transmitted, any communication or solicitation designed
              or intended to obtain password, account, or private information
              from any other user of the Klook Platform; or (e) Violate the
              security of any computer network, crack passwords or security
              encryption codes, transfer or store illegal material (including
              material that may be considered threatening or obscene), or engage
              in any kind of illegal activity that is expressly prohibited; or
              (f) Run maillist, listserv, or any other form of auto-responder,
              or "spam" on the Klook Platform, or any processes that run or are
              activated while you are not logged on to the Klook Platform, or
              that otherwise interfere with the proper working of or place an
              unreasonable load on the Klook Platform’s infrastructure; or (g)
              Use manual or automated software, devices, or other processes to
              "crawl," "scrape," or "spider" any page of the Klook Platform; or
              (h) Decompile, reverse engineer, or otherwise attempt to obtain
              the source code of Klook Platform.
            </div>
            <div class="subPoints mb-3">
              7.3.4 You will be responsible for withholding, filing, and
              reporting all taxes, duties and other governmental assessments
              associated with your activity in connection with using the Klook
              Platform and/or the Services.
            </div>
            <!--8-->
            <div class="font-weight-bold mt-2">
              8. Contact
            </div>
            <div class="points">
              22.1 Please contact Klook at support@klook.com to report any
              violations of this Terms of Use or to pose any questions regarding
              this Terms of Use or the Service.
            </div>
            <div class="font-italic mt-3">Last updated on 3 August 2020.</div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="h3 terms">Privacy Policy</div>
            <hr />
            <div class="mb-3">
              Klook Travel Technology Limited ('Klook', 'we', 'us', 'our') are
              committed to protecting and respecting your personal data privacy
              and complying with data protection principles and provisions under
              applicable laws.
            </div>
            <div class="mb-3">
              We may collect, process, use and disclose your information when
              you use this website www.klook.com and/or the Klook App (together,
              'Klook Platform') and the services offered by Klook or the third
              party operators (the 'Operators') through Klook Platform (the
              'Services') as described in this Privacy Policy. 'You' and 'your'
              when used in this Privacy Policy includes any person who accesses
              Klook Platform or use the Services.
            </div>
            <div class="mb-3">
              This Privacy Policy sets out the basis and terms upon which Klook
              collects, processes, uses and/or discloses your information that
              is obtained from you when you access Klook Platform and/or use the
              Services. Such information may include personal information
              relating to or linked to a specific individual such as name,
              residential address, telephone number, email address, travel
              document information, vehicle rental information, insurance
              information, age, date of birth, or any such information we have
              requested and you have provided through Klook Platform ('Personal
              Information').
            </div>
            <div class="mb-3">
              <span class="font-weight-bold">
                Please read this Privacy Policy carefully.
              </span>
              <span>
                By visiting Klook Platform, you are consenting to the
                collection, processing, usage and disclosure of your Personal
                Information as set out in this Privacy Policy.
              </span>
            </div>
            <div class="font-weight-bold mt-2">
              Scope of Terms
            </div>
            <ul class="ml-2">
              <li>
                Klook reserves the right to update, amend or modify the terms of
                this Privacy Policy or any part of it without prior notice, and
                your continued access of Klook Platform or use of the Services
                signifies your acceptance of the updated, amended or modified
                Privacy Policy, unless if the changes reduce your rights in
                which case we will ask for your consent. If you do not agree to
                all the terms and conditions in this Privacy Policy and/or any
                subsequent updates, amendments or modifications thereto, you
                must stop accessing or otherwise using Klook Platform and the
                Services.
              </li>
              <li>
                Accordingly, please visit this page if you wish to access and
                view the current version of this Privacy Policy.
              </li>
            </ul>
            <div class="font-weight-bold mt-2">
              Collection of Information
            </div>
            <div class="ml-2">
              <div class="mb-2">
                We may collect Personal Information about you that you provide
                to us while using Klook Platform and information about how you
                use Klook Platform including when you open your user account
                ('User Account'), visit Klook Platform or make reservations,
                rentals and/or bookings for any intended Services or using the
                Services. Providing your Personal Information to Klook is always
                on a voluntary basis. However, we might not be able to provide
                you with certain Services if you choose not to give us your
                Personal Information. For example, we cannot open your user
                account or make reservations, rentals and/or bookings for you if
                we do not collect your name and contact details.
              </div>
              <ol>
                <li class="mb-2">Opening Your User Account</li>
                <div class="ml-4 mb-2">
                  When you open with us a User Account or amend any information
                  of your User Account, we may collect your Personal
                  Information, such as your name, email address, username,
                  password and telephone number.
                </div>
                <li class="mb-2">
                  Visit Klook Platform, Making Reservations, Rentals, and/or
                  Bookings for the Services or Using the Services:
                </li>
                <div class="ml-4 mb-2">
                  When you visit Klook Platform (even you have not registered an
                  User Account or logged in), make reservations, rentals, and/or
                  bookings for any intended Services or use the Services, we may
                  collect and process certain information (which may contain
                  your Personal Information or may contain non-personally
                  identifiable information but nevertheless linked to your
                  Personal Information) including but not limited to those set
                  out below:
                </div>
                <ol type="a">
                  <li class="mb-2">
                    Copies of correspondence (whether by e-mail, instant or
                    personal messaging or otherwise) between you and us, and
                    between you and the Operators;
                  </li>
                  <li class="mb-2">
                    Information necessary to fulfil your reservations, rentals,
                    and/or bookings with us and our Operators (including but not
                    limited to travel document information, vehicle rental
                    information, insurance information, age, and date of birth);
                  </li>
                  <li class="mb-2">
                    Details of your usage of Klook Platform (including traffic
                    data, location data and length of user sessions);
                  </li>
                  <li class="mb-2">
                    Feedback on and responses to surveys conducted by Klook
                    relating to the Services and newsletters which may be
                    published, circulated or distributed by Klook;
                  </li>
                  <li class="mb-2">
                    Information automatically collected and stored in our server
                    or the server of our third party services provider by using
                    or accessing to Klook Platform (including the log-in name
                    and password for your User Account, your computers Internet
                    Protocol (IP) address, browser type, browser information,
                    device information (including unique device identifier),
                    pages visited, previous or subsequent sites visited).
                  </li>
                </ol>
                <li>
                  When you use your mobile devices to visit Klook Platform, we
                  may collect information about you and your mobile device as
                  stated above. This can include location information if you
                  have consented and configured your mobile device to send us
                  such information or upload photos with location information to
                  Klook Platform. Such location information will be used in the
                  ways and for the purposes as stated in this Privacy Policy.
                  For example, we may use your location to suggest nearby
                  Services during your travel or provide personalised content.
                  You can change your mobile device’s privacy settings at any
                  time to deactivate the function of sharing location
                  information. Please note some features of Klook Platform may
                  be affected if you turn off such location sharing function.
                  Should you have any enquiries about your mobile devices’
                  privacy settings, we recommend you contacting your mobile
                  services provider or the manufacturer of your device.
                </li>
              </ol>
              <div class="mb-2">
                If you make reservations, rentals, and/or bookings for other
                individuals through the Klook Platform, we may request personal
                information about such individual. You must obtain all requisite
                consent of such individuals and ensure they are aware of,
                understand and accept this Privacy Policy prior to providing
                their personal data to Klook.
              </div>
              <div class="font-weight-bold mt-2 mb-2">
                Storage of Information
              </div>
              <div class="ml-4 mb-2">
                The Personal Information and other data we collect from you may
                be transferred to, processed, and stored in our servers or the
                servers of our third party services providers. Your Personal
                Information will be stored as long as is necessary to fulfil any
                of the purposes described in this Privacy Policy, or to comply
                with any (i) contractual requirement that are necessary for the
                provision of the Services, and (ii) legal, tax or accounting
                requirement.
              </div>
              <div class="ml-4 mb-2">
                When it is no longer necessary for us to process your Personal
                Information, we will either delete or anonymise the data or, if
                this is not possible (for example, because your personal
                information has been stored in backup archives), then we will
                securely store your personal information.
              </div>
              <div class="ml-4 mb-2">
                We will endeavor to anonymise or aggregate your data if we
                intend to use it for analytical purposes or trend analysis.
              </div>
              <div class="ml-4 mb-2">
                Klook will use reasonable endeavours to maintain appropriate
                physical, electronic and organisational procedures to ensure
                that your Personal Information and other data is treated
                securely and in accordance with this Privacy Policy, and to
                protect such data against unauthorized access or unauthorized
                alteration, disclosure or destruction of data.
              </div>
              <div class="ml-4 mb-2">
                Once we have received your information, we will use strict
                procedures and security features to try to prevent unauthorized
                access. Klook does not give any representation, warranty or
                undertaking that the Personal Information you provide to us will
                be secure at all times, and to the extent Klook has fulfilled
                its obligations under no circumstances shall Klook be
                responsible for any losses, damages, costs and expenses which
                you may suffer or incur arising from unauthorised access to or
                use of your Personal Information.
              </div>
              <div class="ml-4 mb-2">
                All payment transactions carried out by us or our chosen
                third-party provider of payment processing services will be
                encrypted using online encryption technology. You are
                responsible for keeping your chosen password confidential and
                not to share your password with any third party.
              </div>
              <div class="mt-3">Last updated on: 20th March 2020.</div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div class="h3 terms">Cookie Policy</div>
            <hr />
            <div class="mb-2">
              At Klook, we strive to enhance your experience during your trip
              and using this Website. In general, we use cookies to manage the
              Website and improve your overall site experience.
            </div>
            <div class="mb-2">
              Your data privacy and confidentiality are our top priority and we
              do our very best to safeguard the information you entrusted to us.
              For more information, you can review our Privacy Notice here.
            </div>
            <div class="mb-2">
              This section about cookies sets out the basis and terms upon which
              Klook uses cookies.
            </div>
            <div class="font-weight-bold mt-2 mb-2">
              What are cookies?
            </div>
            <div class="mb-2">
              Cookies are widely used in the Internet. They are small text files
              stored in your browser that contain basic information about your
              internet use, such as login details and your previous browsing
              records.
            </div>
            <div class="mb-2">
              A cookie can be classified in terms of its (i) duration and (ii)
              the party who places it:
            </div>
            <ol type="i" class="mb-2">
              <div class="item">
                <li class="font-weight-bold mb-2">
                  Session cookies and Persistent cookies
                </li>
                <div class="start mb-2">
                  The duration of cookies depends on whether they are session or
                  persistent cookies.
                </div>
                <div class="start mb-2">
                  <span class="font-weight-bold">
                    Session cookies
                  </span>
                  <span>expire once the browsing session ends.</span>
                </div>
                <div class="start mb-2">
                  <span class="font-weight-bold">
                    Persistent cookies
                  </span>
                  <span>
                    are saved on your computer or mobile device for a fixed
                    period of time. When you visit a website, your browser will
                    retrieve these cookies so that the website will recognise
                    your device and personalise your site experience according
                    to your previous browsing records.
                  </span>
                </div>
                <li class="font-weight-bold mb-2">
                  First-party cookies and Third-party cookies
                </li>
                <div class="start">
                  <span class="mr-1">We control and set the scope of</span>
                  <span class="font-weight-bold">first-party cookies</span>
                  <span class="mr-1">whereas, we have no control over</span>
                  <span class="font-weight-bold">third-party cookies.</span>
                  <span>
                    Third-party cookies are operated by third-party sites in a
                    different domain. Some pages of this Website contain
                    third-party cookies in the form of embedded content, such as
                    JavaScript and API.
                  </span>
                </div>
              </div>
            </ol>
            <div class="font-weight-bold mt-2 mb-2">
              Why do we use cookies?
            </div>
            <div>
              We are committed to providing you with a safe, efficient and
              customised service. To reach this goal, we use cookies to:
            </div>
            <ul class="mb-2">
              <li>
                ensure the efficient functioning of this Website;
              </li>
              <li>evaluate how this Website is accessed and used;</li>
              <li>analyse what destinations are popular among visitors;</li>
              <li>determine your eligibility for campaigns and promotions;</li>
              <li>recommend the places that match your interests;</li>
              <li>
                improve the content of this Website and enhance user's
                experience.
              </li>
            </ul>
            <div class="mb-2">
              We will ensure that cookies will not be used for any purpose other
              than those described here.
            </div>
            <div>Last Updated : 3 October 2018</div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
          >
            <div class="h3 terms">Klook Price Guarantee</div>
            <hr />
            <div class="mb-3">
              <span>We’ll refund</span>
              <span class="font-weight-bold">
                double the difference
              </span>
              <span>…if you find a cheaper price!</span>
            </div>
            <div class="mb-3">
              We know that one of the most important things for travelers is
              getting a fair price and not feeling ripped off. That’s why we
              constantly monitor our pricing to ensure that you get the best
              price available online and at your destination. We also make it a
              point to display honest pricing on all our deals, including all
              extra charges and taxes so you'll never have to worry about
              additional costs.
            </div>
            <div class="mb-3">
              We’re so confident about our pricing that if you find a better
              price, we’ll refund DOUBLE the difference!
            </div>
            <div class="font-weight-bold mb-3">
              So, if you:
              <ul>
                <li>
                  Find a lower price (in the same currency) for the same tour or
                  activity and notify us within 48 hours of booking, or
                </li>
                <li>
                  Arrive at your destination and find your booked tour or
                  activity offered for a lower price
                </li>
              </ul>
            </div>
            <div class="mb-3">
              you can send us the details and we'll refund double the difference
              in the form of Klook Credits OR we’ll refund the full price
              difference to your card.
            </div>
            <div class="mb-3">Yup, you read us right!</div>
            <div class="font-weight-bold">How to request a refund?</div>
            <div class="ml-4">
              It's simple and easy: obtain proof of the lower rate (receipt,
              price list, flyer, website, screenshot etc.), and email us at
              support@klook.com with your name and booking number. We’ll add
              double the difference value to your account as Klook Credits, or
              refund the full price difference direct to your card.
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-bug"
            role="tabpanel"
            aria-labelledby="v-pills-bug-tab"
          >
            <div class="h3 terms">Bug Bounty Program</div>
            <hr />
            <div class="mb-3">
              Klook Travel Technology Limited (“Klook”) recognizes and rewards
              independent security researchers in keeping Klook and our
              customers secure. We appreciate your willingness to participate in
              this Bug Bounty Program (“Program”) and will award monetary
              rewards for the discovery of security vulnerabilities.
            </div>
            <div class="mb-3">
              Your participation in our Bug Bounty Program is voluntary. By
              making a report disclosing a vulnerability to Klook, you
              acknowledge that you have read and agreed to the terms and
              conditions on this page (“Terms”).
            </div>
            <div class="h3 mb-3">
              Responsible Disclosure Policy
            </div>
            <div class="mb-3">
              While participating in our Program, you warrant that:
            </div>
            <div class="mb-3">
              You shall protect Klook's and our users' privacy and data in good
              faith. You will not access or modify other user's data without our
              prior written consent.
            </div>
            <div class="mb-3">
              You shall ensure that in good faith, no disruption is caused to
              the production systems, degradation of user experience and
              destruction of data during this testing.
            </div>
            <div class="mb-3">
              If you inadvertently cause a privacy violation or disruption in
              the absence of any malicious intention (such as accessing account
              data, service configurations, or other confidential information)
              while investigating an issue, please disclose this immediately to
              us.
            </div>
            <div class="h3 mb-3">
              Eligibility Requirements
            </div>
            <div class="mb-3">
              To participate in our Program, you must not:
            </div>
            <div class="mb-3">
              Be a resident of, or send submissions from, a country against
              which the United States has issued export sanctions or other trade
              restrictions;
            </div>
            <div class="mb-3">
              Be in violation of any national, state, or local law or regulation
              with respect to your activities related to Klook's Bug Bounty
              Program (directly or indirectly);
            </div>
            <div class="mb-3">
              Be employed by Klook or any of its affiliates;
            </div>
            <div class="mb-3">
              Be an immediate family member of a person employed by Klook or any
              of its affiliates; or
            </div>
            <div class="mb-3">
              Be less than 18 years of age.
            </div>
            <div class="h3 mb-3">
              Ownership of Testing Results
            </div>
            <div class="mb-3">
              For the purposes of this section, “Testing Results” means
              information about vulnerabilities discovered and submitted to
              Klook by you. You hereby agree that you will disclose and assign
              all Testing Results and its corresponding rights (including
              intellectual property) to Klook.
            </div>
            <div class="h3 mb-3">
              Changes to Terms
            </div>
            <div class="mb-3">
              Klook reserves the right to modify or cancel this Bug Bounty
              Program and its policies at any time, without prior notice.
            </div>
            <div class="mb-3">
              Accordingly, Klook may amend these Terms and/or its policies at
              any time by posting a revised version on Klook's website. You
              accept the modified Terms if you continue to participate in the
              Bug Bounty Program after changes are made to the Terms.
            </div>
            <div class="mb-3">
              The other language versions of this Agreement have been prepared
              solely for reference. If there is any conflict or inconsistency
              between the English version and the other language versions, the
              English text shall prevail.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
