<app-header></app-header>
<app-second-header></app-second-header>

<article class="mt-5">
  <!-- <app-sign-up></app-sign-up> -->
  <router-outlet></router-outlet>
  <!-- <app-help></app-help> -->
  <!-- <app-klook-credit></app-klook-credit> -->
  <!-- <app-attractions-hong-kong></app-attractions-hong-kong> -->
  <!-- <app-fun></app-fun> -->
  <!-- <app-culture></app-culture> -->
  <!-- <app-activity-details></app-activity-details> -->
</article>

<!-- <app-hotels></app-hotels> -->
<!-- <app-relaxation></app-relaxation> -->
<!-- <app-culture></app-culture> -->

<app-footer></app-footer>
